/*
* 1. Base Styles
*/
html {
	font-size: 16px;
}

body {
	width: 100%;
	max-width: 100%;
	min-width: 320px;
	overflow-x: hidden;
	font-family: Montserrat,Arial,sans-serif !important;
	font-size: $base-font-size;
	font-weight: normal;
	line-height: $base-line-height;
	background: $white;
	color: $second-color;
	word-wrap: break-word;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
}

a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, i, iframe, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
	border: 0;
	margin: 0;
	padding: 0;
	outline: 0;
	vertical-align: baseline;
}

a, button { 
	@include transition(0.3s);
}

a:focus, a:active:focus, button:focus, button:active {
	outline: 0;
}

img, iframe {
	max-width: 100%;
	height: auto;
}

.section-block {
	padding-top: $base-line-height * 3;
	padding-bottom: $base-line-height * 2;
}

.section-3-block {
	padding-top: $base-line-height * 3;
	padding-bottom: $base-line-height * 3;
	padding-left: $base-line-height * 2;
	padding-right: $base-line-height * 2;
}

.yellow-block {
	background: $primary-color;
	color: $second-color;
}

.dark-block {
	background: $black;
	color: $white;
}

.gray-block {
	background: $gray;
	color: $second-color;
}

/*
* 2. Typography
*/
@import "typography";

/*
* 3. Preload
*/
#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: $second-color;
  z-index: 9900;

  .spinner {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: transparent;
    margin: -25px 0 0 -25px;
  }
}

/*
* 4. Buttons
*/
.button {
  display: inline-block;
  position: relative;
  padding: $button-padding;
  border: none;
  text-align: center;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
	touch-action: manipulation;
	@include user-select(none);
}

.button-normal {
	@include button-colors (transparent,$primary-color,$primary-color,$second-color);
	border: 3px solid $primary-color;
}

.button-classes {
	padding: 9px 12px !important;
	@include button-colors (transparent,$primary-color,$primary-color,$second-color);
	border: 3px solid $primary-color;
	margin-bottom: $base-line-height;
}

/*
* 5. Navigation
*/
.navbar {
	position: fixed;
	z-index: 1000;
	width: 100%;
	min-height: $base-line-height * 3;
	margin-bottom: 0;
	@include border-radius(0);
	@include transition(0.3s);
}

.top-nav {
	background: transparent;
}

.fix-nav {
	background-color: $second-color;
}

.navbar-default {
	border: none;

	.navbar-header {
		z-index: 9000;
	}

	.navbar-brand {
		color: $primary-color;
	}

	.navbar-nav > li > a {
		color: $white;
		font-family: Montserrat,Arial,sans-serif;
		@include type-setting(-1);
		font-weight: 700;
		text-transform: uppercase;
		padding: $base-line-height $base-line-height / 2;
	}

	.navbar-brand:hover, .navbar-brand:focus {
		color: $primary-color-lighten;
	}

	.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
		color: $primary-color;
	}

	.navbar-toggle {
		border: 0;
		padding: $base-line-height;
		margin: 0;

		i {
			color: $primary-color;
		}

		&:hover, &:focus {
			background-color: transparent;

			i {
				color: $primary-color-lighten;
			}
		}
	}

	.navbar-collapse, .navbar-form {
		border: none;
		box-shadow: none;
	}
}

.navbar-brand {
	font-family: Montserrat,Arial,sans-serif;
	@include type-setting(0);
	font-weight: 700;
	text-transform: uppercase;
	height: auto;
	padding: $base-line-height 15px;
}

.navbar-nav > li > a {
	padding: $base-line-height $base-line-height / 2;
}

/*
* 6. Slider
*/
.slider {
	position: relative;
}

.flexslider-bg {
	position: relative;
	width: 100%;
	height: $base-line-height * 32;
	margin: 0;
	padding: 0;
	background: $second-color;
}

.flexslider {
	&:hover .flex-direction-nav .flex-next {
		right: $base-line-height;
		z-index: 500;
	}

	&:hover .flex-direction-nav .flex-prev {
		left: $base-line-height;
		z-index: 500;
	}

	.slides {
		height: 100% !important;

		li {
			width: 100%;
			height: 100% !important;
			margin: 0;
			padding: 0;
			-webkit-background-size: cover !important;
			-moz-background-size: cover !important;
			-o-background-size: cover !important;
			background-size: cover !important;
		}
	}

	.bg-overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $second-color-alpha;
		z-index: 5;
	}
}

.flex-control-nav {
	bottom: $base-line-height;
	z-index: 100;
}

.flex-control-paging {
	li a {
		width: $base-line-height / 2;
		height: $base-line-height / 2;
		background: $white;

		&.flex-active {
			width: $base-line-height / 2;
			height: $base-line-height / 2;
			background: $primary-color;
		}
	}
}

.flex-direction-nav a {
	width: $base-line-height;
	height: $base-line-height;
	margin: $base-line-height 0 0;
	top: 50%;
	margin-top: -$base-line-height; 

	&:before {
		@include type-setting(1);
		color: $primary-color;
	}
}

.flex-caption	{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 15;
}

.slider-container {
	position: relative;
	margin-top: $base-line-height * 10;

	h1 {
		color: $primary-color;
	}

	p {
		color: $white;
		margin: $base-line-height 0;
	}

	.h-line {
		position: relative;
		display: block;
		width: $base-line-height * 6;
		height: 3px;
		background: $primary-color;
		margin-top: 27px;
	}

	nav {
		display: inline-block;
		width: 100%;

		ul li {
			display: inline-block;
		}
	}
}

/*
* 7. About
*/
.about {
	text-align: center;

	p {
		width: 80%;
		margin: 0 auto $base-line-height;
	}

	i {
		@include type-setting(3);
	}
}

/*
* 8. Feature
*/
.feature {
	i {
		@include type-setting(3);
	}
}

/*
* 9. Team
*/
.team {
	p {
		text-align: center;
	}
}

/*** Slick ***/
@import "slick";
@import "slick-theme";

.slick-slide {
	padding: 0 $base-line-height / 2;
	margin-top: $base-line-height;
	margin-bottom: $base-line-height;

	h4 {
		text-align: center;
		margin: 1.5rem 0 0 0;
	}
}

.team-carousel {
	.slick-prev, .slick-next {
		margin-top: -$base-line-height * 2;
	}
}

.slick-prev:before, .slick-next:before {
	font-family: "flexslider-icon";
	color: $second-color;
}

.slick-next:before {
	content: '\f002';
}

.slick-prev:before {
	content: '\f001';
}

.slick-prev {
	left: -$base-line-height;
}

.slick-next {
	right: -$base-line-height;
}

.team-item {
	position: relative;
	margin: 0 auto $base-line-height;
	padding: 0;
	list-style: none;
	
	figure {
		position: relative;
		height: $base-line-height * 12;
		overflow: hidden;
		background: $white;
		text-align: center;
		margin: 0 $base-line-height / 2 $base-line-height;

		img {
			position: relative;
			display: block;
			width: 100%;
			height: auto;
		}
	}

	.team-overlay {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 2000;
	}

	figure.hover-effect img {
		position: relative;
		display: block;
		width: 100%;
		height: auto;
		@include transition-duration(0.5s);
	}

	figure.hover-effect figcaption {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 0px;
		z-index: 9001;

		.details-container {
			width: 100%;
			height: 100%;
			position: relative;

			span {
				position: absolute;
				display: block;
				width: 100%;
				bottom: 0;
				padding-bottom: $base-line-height;
			}

			a {
				opacity: 0;
				@include type-setting(1);
			}

			.facebook {
				@include transform(translateY(20px));
			}

			.twitter {
				@include transform(translateY(20px));
			}

			.instagram {
				@include transform(translateY(20px));
			}
		}
	}

	figure.hover-effect span {
		background-color: transparent;
		@include type-setting(1);
		padding: 0;
		text-decoration: none;
		z-index: 5;

		& a.facebook {
			@include transition-duration(0.4s);
		}

		& a.twitter {
			@include transition-duration(0.6s);
		}

		& a.instagram {
			@include transition-duration(0.8s);
		}
	}

	figure.hover-effect span a {
		padding: 0 $base-line-height / 2;
		color: $primary-color;
		display: inline-block;
	}

	figure.hover-effect span a:hover {
		color: $primary-color-lighten;
	}

	figure.hover-effect:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $second-color;
		opacity: 0;
		@include transition-duration(0.5s);
	}
}

.team-item:hover figure.hover-effect:before {
	opacity: 0.3;
	z-index: 5;
}

.team-item:hover figure.hover-effect span {
		color: $primary-color;
		opacity: 1;

		& a {
			opacity: 1;
		}
		
		& a.facebook {
			@include transform(translateY(0px));
			@include transition-duration(0.4s);
		}

		& a.twitter {
			@include transform(translateY(0px));
			@include transition-duration(0.6s);
		}

		& a.instagram {
			@include transform(translateY(0px));
			@include transition-duration(0.8s);
		}
	}

/*
* 10. Quote
*/
.quote-block {
	position: relative;
	background: url(../images/quote.jpg) 50% 50% no-repeat fixed;
	background-size: cover;

	.quote-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: $second-color-alpha2;
	}

	.quote {
		text-align: center; 

		i {
			color: $primary-color;
			@include type-setting(2);
		}

		p {
			width: 80%;
			margin: 0 auto $base-line-height;
		}

		.author {
			text-align: center;
			font-style: italic;
		}
	}
}

/*
* 11. Gallery
*/
.gallery {
	text-align: center;

	.gallery-block {
		margin-bottom: $base-line-height;
		padding: 0;
	}
}

.gallery-item {
	position: relative;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	text-align: center;
	
	figure {
		position: relative;
		overflow: hidden;
		background: $second-color-alpha;
		text-align: center;
		height: $base-line-height * 12;

		img {
			position: relative;
			display: block;
		  width: 100%;
			height: auto;
		}
	}

	.gallery-overlay {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 50;
	}

	figure.hover-effect img {
		position: relative;
		display: block;
		width: 100%;
		height: auto;
		@include transition-duration(0.5s);
	}

	figure.hover-effect figcaption {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 0px;
		z-index: 100;

		.details-container {
			position: relative;
			width: 100%;
			height: 100%;
			display: table;
			padding-bottom: $base-line-height;

			.details-title {
				display: table-cell;
				vertical-align: bottom;
				text-align: center;
			}
		}
	}

	figure.hover-effect a {
		color: $primary-color;
		background-color: transparent;
		@include type-setting(1);
		font-weight: 700;
		padding: 0;
		text-decoration: none;
		opacity: 0;
		z-index: 30;
		@include transition-duration(0.5s);
		@include transform(translateY(20px));
	}

	figure.hover-effect:hover a {
		color: $primary-color;
		opacity: 1;
		@include transform(translateY(0px));
	}

	figure.hover-effect:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $second-color;
		opacity: 0;
		@include transition-duration(0.5s);
	}

	figure.hover-effect:hover:before {
		opacity: 0.6;
		z-index: 5;
	}
}

.mfp-fade-gallery .mfp-image-holder .mfp-close {
	color: $primary-color;
}

.mfp-title, .mfp-counter {
	color: $primary-color;
}

/* Overlay at Start */
.mfp-fade-gallery.mfp-bg {
  opacity: 0;
  @include transition(0.3s);
}

/* Overlay Animate in */
.mfp-fade-gallery.mfp-bg.mfp-ready {
  opacity: 1;
  @include transition(0.3s);
}

/* Overlay Animate out */
.mfp-fade-gallery.mfp-bg.mfp-removing {
  opacity: 0;
  @include transition(0.3s);
}

/* Content at Start */
.mfp-fade-gallery.mfp-wrap .mfp-content {
	opacity: 0;
  @include transition(0.3s);
}

/* Content Animate it */
.mfp-fade-gallery.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

/* Content Animate out */
.mfp-fade-gallery.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

/*** Arrows ***/
.mfp-arrow {
	opacity: 1;
}

.mfp-arrow-left {
	&:before {
		border-right: none;
	}

	&:after {
		border-right: 17px solid $primary-color;
  }
}

.mfp-arrow-right {
	&:before {
    border-left: none;
	}

	&:after {
    border-left: 17px solid $primary-color;
  }
}

/*
* 12. Partner
*/
.partner-carousel {
	.slick-slide {
		margin-top: 0;
	}

	.slick-prev, .slick-next {
		margin-top: -$base-line-height / 2;
	}

	.partner {
		height: $base-line-height * 4;

		img {
			height: 96px;
		}
	}
}

.partners {
	text-align: center;

	img {
		margin: 0 auto;
	}
}

/*
* 13. Season Ticket
*/
.ticket-section {
	padding-top: $base-line-height * 3;
	text-align: center;

	.tickets {
		margin-top: $base-line-height;
	}
}

.ticket-block {
	position: relative;
	color: $white;

	.wrap {
		position: relative;

		.line {
			position: absolute;
			width: 100%;
			height: 3px;
			opacity: 0;
			@include transition(0.3s);

			span {
				display: block;
				width: $base-line-height * 3;
				height: 3px;
				background: $primary-color;
				margin: 0 auto;
			}
		}

		&:hover {
			.line {
				opacity: 1;
			}
		}
	}

	.ticket {
		background: $black;
		padding: $base-line-height * 2;
		text-align: center;
		@include transition(0.3s);

		&:hover {
			background: $second-color;
		}

		.type {
			font-family: Montserrat,Arial,sans-serif;
			font-weight: 700;
			text-transform: uppercase;
			width: 100%;
			display: block;
		}

		p {
			position: relative;
			text-align: center;
			font-family: Montserrat,Arial,sans-serif;
			font-weight: 700;
			@include type-setting(7);
			color: $primary-color;
			margin: $base-line-height 0;

			&:before {
				content: "$";
				@include type-setting(3);
				color: $white;
				position: absolute;
				bottom: $base-line-height;
				margin-left: -$base-line-height;
			}

			&:after {
				content: "";
				bottom: 0;
				display: block;
				margin: 21px auto 0;
				width: $base-line-height * 3;
				height: 3px;
				background: $primary-color;
			}
		}

		ul {
			margin: $base-line-height * 2 0;

			li {
				text-align: center;
			}
		} 
	}
}

/*
* 14. Events
*/
.events-posts {
	padding-top: $base-line-height * 3;

	p {
		text-align: center;
	}

	.post {
		overflow: hidden;

		.post-block {
			position: relative;
			background: $gray; 

			.thumb {
				position: relative;
				height: $base-line-height * 10;
				width: 100%;

				.thumb-overlay {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: $second-color-alpha;
					z-index: 5;
				}

				.date {
					position: absolute;
					left: $base-line-height;
					top: $base-line-height;
					color: $primary-color;
					z-index: 15;

					span {
						display: block;
						@include type-setting(6);
						font-weight: 700;
					}
				}

				h5 {
					position: absolute;
					padding: 0 $base-line-height;
					bottom: $base-line-height;
					color: $primary-color;
					z-index: 15;
				}

				.time {
					display: inline-block;
					color: $white;
					font-size: type-scale(0);
				  line-height: line-height(-1);
					font-weight: 700;
					padding: 0 $base-line-height / 4;
					background: $primary-color;
				}
			}
		}
	}
}


/*
* 15. Classes
*/
.classes-carousel {
	color: $text;
	padding: 0;
	font-family: Montserrat,Arial,sans-serif;

	.slick-slide {
    padding: 0;
    margin-top: 0;
	}

	h4 {
		margin: 0;
		padding: $base-line-height / 2 0; 
		text-transform: uppercase;
	}

	.day {
		position: relative;

		p {
			font-size: type-scale(7);
			line-height: line-height(5);
			font-weight: 700;
			padding: $base-line-height * 2 0 $base-line-height 0;
		}
	}

	.odd {
		background: $odd;

		h4 {
			background: $odd-head;
		}
	}

	.even {
		background: $even;

		h4 {
			background: $even-head;
		}
	}
}

/*
* 16. Twitter
*/
.blog-twitter {
	padding-bottom: $base-line-height * 2;
}

.twitter-header {
	text-align: center;
	@include type-setting(2);
	margin-bottom: $base-line-height;
}

.twitter-block {	
	background: transparent; 
	text-align: center;
}

.twitter-post {
	@include type-setting(0);

	li {
		text-align: center;
	}

	.tweet a {
		text-decoration: underline;
	}

	.tweet img{
		width: $base-line-height;
		height: $base-line-height; 
	}

	.timePosted {
	  @include type-setting(0);
	}

	.timePosted a {
	  font-weight: 400;
	}

	.user {
	  clear:left;
	}

	.user a {
	 width: 100px;

	 span {
	 	display: inline !important;
	 }
	}

	.user span span {
	  width: 100px;
	  font-weight: 700;
	}

	.user img {
	  display: none;
	}

	.user a > span {
		margin: 0; 
		display: inline-block;
		font-weight: 400;
	}

	.interact {
		display: none;
	  margin: 0px;
	  @include type-setting(-1);
	}

	.interact a {
	  margin-right: 15px;
	}
	.media img {
	  max-width: 100%;
	  max-height: 100%;
	}

	.tco-hidden{
	  display: none;
	}
}

/*
* 17. Footer
*/
.footer-section {
	position: relative;
	background: url(../images/footer.jpg) $second-color no-repeat center;
	@include background-size(cover);
	color: $gray;
	padding: $base-line-height * 3 0;

	.footer-overlay {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $second-color-alpha2;
	}

	a {
		color: $gray;
	}

	a:hover, a:focus, a:active { 
		color: $primary-color-lighten;
	}

	h4 {
		text-transform: uppercase;
		color: $primary-color;
		font-weight: 700;
		margin-top: 0;
	}

	ul {
		span {
			float: right;
		}
	}
}

/* Notify Form */
.feedback {
	input, textarea {
		width: 100%;
		border: none;
		border-bottom: 3px solid;
		border-color: $primary-color; 
		background: transparent;
		margin-bottom: 20px;
	}

	textarea {
		resize: none;
	}

	em {
		padding: 15px 0;
	}

	.field-error {
		border-color: $red;
	}
}

.field {
	padding: 0 $base-line-height 0 0;
}

.success {
	color: $primary-color;
}

/*** Media ***/
@media (max-width: 1200px) {
	.team-item {
		figure {
			height: $base-line-height * 10;
		}
	}

	.gallery-item {
		figure {
			height: $base-line-height * 10;
		}
	}

	.events-posts {
		.post {
			.post-block {
				.thumb {
					height: $base-line-height * 9;
				}
			}
		}
	}
}

@media (max-width: 991px) {
	.flexslider-bg {
		height: $base-line-height * 20;

		h1 {
			@include type-setting(4);
		}
	}

	.flex-direction-nav {
		.flex-next {
			right: $base-line-height;
		}

		.flex-prev {
			left: $base-line-height;
		}
	}

	.slider-container {
		margin-top: $base-line-height * 6;
	}

	.gallery-item {
		figure {
			height: $base-line-height * 12;
		}
	}

	.partner-carousel {
		padding-bottom: $base-line-height;
	}

	.ticket-block {
		margin-bottom: $base-line-height;

		.ticket {
			.type {
				text-align: center;
			}

			p:after { 
				margin: 19px auto 0;
			}
		}
	}

	.blog-classes {
		padding-top: $base-line-height * 2;
	}

	.post {
		margin-bottom: $base-line-height;
	}

	.content-img {
		visibility: hidden;
		position: absolute;
	}

	.blog-twitter {
		padding-top: 0;
	}

	.events-posts {
		padding-top: $base-line-height * 2;

		.post {
			.post-block {
				.thumb {
					height: $base-line-height * 20;
				}
			}
		}
	}

	.feedback {
		padding-bottom: $base-line-height * 2;
	}

	.worktime {
		li {
			border-bottom: 1px solid $black !important;
		}
	}
}

@media (max-width: 767px) {
	.flexslider-bg {
		height: $base-line-height * 18;

		h1 {
			@include type-setting(3);
		}
	}

	.slider-container {
		margin-top: $base-line-height * 4;
	}

	.field {
		padding: 0;
	}

	.navbar-header {
		position: absolute;
		width: 100%;
	}

	.navbar-collapse {
		background: $second-color;
	}

	.navbar-nav {
		margin: 0 -15px;
		margin-top: $base-line-height * 3;
	}

	.navbar-default .navbar-nav > li > a {
		padding: 1.5rem 1rem;
	}

	.gallery-item {		
		figure {
			height: auto;
		}
	}

	.events-posts {
		.post {
			.post-block {
				.thumb {
					height: $base-line-height * 18;
				}
			}
		}
	}
}

@media (max-width: 480px) {
	.slider-container {
		margin-top: $base-line-height * 3;
	}

	.events-posts {
		.post {
			.post-block {
				.thumb {
					height: $base-line-height * 12;
				}
			}
		}
	}
}